body {
	background: #000;
	font-family: 'Roboto', sans-serif; 
	color: #fff;
	}

.arrow {
	opacity: 0.4;
    filter: alpha(opacity=40);
    width: 30px;
    display: none;
}

.arrow:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	cursor: pointer;
	cursor: hand;
}
#chart .c3-line-Nationalaverage {
	stroke-width: 10px;
	fill: 'hotpink';
}



.chart {
		position: fixed;
		z-index: 0;
		border: solid 1px #eee;
		width:80%;
		height: 80%;
		margin-left: auto; 
		margin-right: auto; 
		fill: white;
		margin-top: auto;
		margin-bottom: auto;
		background: #000;
		border: none;	
	}

.circle {
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	background: #fff;
	float: left;
	margin-right: 10px;
	opacity: 0.4;
	margin-top: 10px;
}

.circle:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	cursor: pointer;
	cursor: hand;
}

.selected {
	opacity: 0.9;
	filter: alpha(opacity=90);
}
	
#navigation {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: center;
	}


	
#myLinkTwo {
	color: #fff;
	font-size: 1.5em;
	}
.c3 svg {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6em;
	  
}

#text {
	margin-top: 10%;
	margin-left: 10%;
	position: absolute;
	z-index: 10;
	font-size: 1.2em;
	width: 200px;

	}
#text b {
	
	font-size: 1.5em;
}

.text1 {
	display: none;
	color: DodgerBlue;
}
.text2 {
	display: none;
	color: hotpink;
}
.text3 {
	display:none;
	color: DodgerBlue;
	margin-top: 20px;
}

